

/* for mobile screen */
@media screen and (max-width: 600px) {
    .navbar-collapse{
        margin-left: 0px !important;
    }

    .slider2-card-over{
     border: 8px solid white !important;
     }
     .fa-thumbs-up p , .fa-comment p ,.fa-eye p {
       font-size: 10px;
     }


 .first-heading{
          font-size: 25px;
      }
 .wwheading{
          font-size: 20px;
      }
      .circle {
        width: 140px;
        height:140px;
    }
    .gfm{
      font-size: 23px;
      text-align: center;
    }

    .featured-menu{
      /* text-align: center !important; */
      background-color:rgb(38, 38,38);
      border-radius: 0px 0 0 0px;
      padding-top:45px;
    padding-bottom: 45px;
    }

    .circle-menu{
      /* margin: 0 auto; */
      /* text-align: center !important; */
      /* border: 1px solid red; */
      /* margin-left: 4% !important; */
      /* align-items: center; */
/* margin-right: 100px; */
/* margin-left: -100px !important; */
margin-left: -6%;
/* column-gap: -140px !important; */


    }
    .circle-2{
      /* margin-right: -54px !important; */
      /* border: 2px solid red; */
      /* margin: 0 0 0 -45px;00 */
      /* margin-right: 100px !important; */
    }

    .circle-menu .circle{
      /* text-align: center; */
      /* margin-right: -54px; */
      /* padding: 200px; */
      /* padding: 200px 0px; */
      /* text-align: center; */
      /* justify-content: center; */
      /* align-self: center; */
      /* margin: 0 auto; */
      margin-left: 30px;


    
      /* margin-left: 54px; */
     
    }
  

    .circle-menu .col-md-2 {
      /* border: 2px solid green; */

    }
    .circle-top{
      margin-top: 10px !important;
    }
    
    .gfm{
      padding-left: 0;
    }

    .footer-p{
      text-align: center !important;
      /* border: 2px solid; */
    }
    .slider-r1{
      text-align: center;
      margin-top: -40px;

    }
 }



  @media screen and (max-width: 694px) {
    .cd3{
      margin-top: 25px !important;
  
    }

    .item-box h3 {
      font-size: 16px;
    }
  }