/* for mobile screen */
@media screen and (max-width: 600px) {
    .navbar-collapse{
        margin-left: 0px !important;
    }
 .first-heading{
          font-size: 25px;
      }
 .wwheading{
          font-size: 20px;
      }
      .circle {
        width: 110px;
        height:110px;
    }
    .gfm{
      font-size: 23px;
      text-align: center;
    }

    .featured-menu{
      /* text-align: center !important; */
      background-color:rgb(38, 38,38);
      border-radius: 0px 0 0 0px;
      padding-top:45px;
    padding-bottom: 45px;
    }

    .circle-menu{
      margin: 0 auto;
      /* text-align: center !important; */
      /* border: 1px solid red; */
      /* margin-left: 4% !important; */
      /* align-items: center; */
    }

    .circle-menu .col-md-2{
    
     
    }
  

    .circle-top{
      margin-top: 10px !important;
    }
    
    .gfm{
      padding-left: 0;
    }

    .footer-p{
      text-align: center !important;
      /* border: 2px solid; */
    }
    .slider-r1{
      text-align: center;
      margin-top: -40px;

    }

  
  }